.form{
    display: flex;
    
}

.Names{
    padding-top: 1vw;

}

.InputFields label{
    padding-right: 20vh;
    width: 50%;
}
.InputFields{
    align-items: center;
    display: flex;
    width: 100%;
    padding-left: 10vh;
}
.InputFields input{
  
    height: 3vh;
    font-size: medium;
    text-align: center;
    border-radius: 5px;
   width: 40%;

}

.InputFields textarea{
  
    height: 8vh;
    font-size: medium;
    text-align: center;
    margin-left: 2vh;

}
.button{
    margin-inline: 15vh;
margin-top: 4vh;
width: 9%;
height: 3vh;
}
#butt1{
    margin-left: 7vw;
    cursor: pointer;

}
#but1{
    margin-left: 7vw;
    cursor: pointer;
}
#butt2{
    background-color: red;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
}

#textarea{
    width: 406px;
    height: 61px;
    margin-bottom: 5vh;
}
#Span2{
    padding-left: 10vw;
}
.Names div{
    padding-bottom: 20px;   
    font-size: x-large;
}

/* .Names1 div{
    padding-bottom: 58px;   
} */