.navbar {
  height: 70px;
  width: 100%;
  background-color: #003580;
  display: flex;
  justify-content: space-between;
}

.navContainer {
  width: 100%;
  margin: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
}

.homeul {
  display: flex;
  width: 95%;
  list-style-type: none;
}

.homeul>li {
  margin-right: 65px;
  font-size: x-large;
  margin-bottom: 0px;
  word-spacing: 0px;
}

#logout{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  font-size: larger;
  border: solid 1px black;
  background-color: red;
  margin-right: 2vw;
  margin-top: -6px;
}

#logout2{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 5px;
  font-size: larger;
  border: solid 1px black;
  background-color: red;
  margin-right: 2vw;
  margin-top: 2vh;
}

.endL{
  display: flex;
  
}