.navbar {
  height: 70px;
  width: 100%;
  background-color: #003580;
  display: flex;
  position: fixed;
  justify-content: space-between;
}

.navContainer {
  width: 100%;
  margin: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
}

.homeul {
  display: flex;
  width: 95%;
  list-style-type: none;
}

.homeul>li {
  margin-right: 65px;
  font-size: x-large;
  margin-bottom: 0px;
  word-spacing: 0px;
}


#logout2{
  color: #003580;
  text-decoration: none;
  padding: 9 px;
  font-size: larger;
  border-radius: 5px;
  border: solid 1px black;
  font-weight: bold;
  background-color: white;
  margin-right: 2vw;
  margin-top: 2vh;
  padding: 4px;
}

.endL{
  display: flex;
list-style: none;
  
}